.bg-primary{
    background-color: #2BA84A !important;  
}
.bg-secondary{
    background-color: #2D3A3A !important;
}
.bg-tertiary{
    background-color: #238232 !important;
}
.btn-primary{
    background-color: #1fa040 !important;
}
.btn-secondary{
    background-color: #137e2e !important;
}

img{
    width: 75px !important;
    height: 75px !important;
    object-fit: contain !important;
}
.center{
    height: 200px;
    position: relative;
    border: 3px solid green;
}
.container{
    position: relative;

}

.wrapper{
    width: 450px;
    background: white;
    border-radius:10px;
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current-date{
    font-size: 1.45rem;
    font-weight:500;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

